Repository bounswe/2021SpringGroup5, pull requests merged in 2021-12, with the labels that each got.

#317 Modifications after milestone 1
  project/backend/app/app/settings.py
  project/backend/app/post/tests.py
  project/backend/app/post/views.py
  project/backend/app/register/views.py
Labels: urgent, development, backend

#358 longitude_latitude_post_updates branch
  project/backend/app/post/migrations/0001_initial.py
  project/backend/app/post/migrations/0002_initial.py
  project/backend/app/post/models.py
  project/backend/app/post/tests.py
  project/backend/app/post/views.py
  project/backend/app/register/migrations/0001_initial.py
Labels: urgent, development, backend

#367 Delete event post
  project/backend/app/post/models.py
  project/backend/app/post/urls.py
  project/backend/app/post/views.py
  project/backend/app/search/__init__.py
  project/backend/app/search/admin.py
  project/backend/app/search/apps.py
  project/backend/app/search/migrations/__init__.py
  project/backend/app/search/models.py
  project/backend/app/search/tests.py
  project/backend/app/search/views.py
Labels: medium, development, feature, backend

#374 Sport model, created date of posts and comments and repeated frequency update
  project/backend/app/app/settings.py
  project/backend/app/post/migrations/0001_initial.py
  project/backend/app/post/migrations/0002_initial.py
  project/backend/app/post/models.py
  project/backend/app/post/tests.py
  project/backend/app/post/views.py
  project/backend/app/register/migrations/0001_initial.py
  project/backend/app/register/views.py
Labels: urgent, backend

#384 return inadequate player applications in get_event_post_details function
  project/backend/app/post/views.py
Labels: urgent, development, backend

#380 Search
  project/backend/app/app/urls.py
  project/backend/app/search/urls.py
  project/backend/app/search/views.py
Labels: urgent, development, feature, backend

#392 Delete event and equipment post image paths
  project/backend/app/post/migrations/0001_initial.py
  project/backend/app/post/migrations/0002_initial.py
  project/backend/app/post/models.py
  project/backend/app/post/tests.py
  project/backend/app/post/views.py
  project/backend/app/register/migrations/0001_initial.py
Labels: urgent, backend

#405 Implement functionalities and UI of search-screen
  project/frontend/app/package-lock.json
  project/frontend/app/package.json
  project/frontend/app/public/index.html
  project/frontend/app/src/App.js
  project/frontend/app/src/components/Common/Header.js
  project/frontend/app/src/components/Common/Map.js
  project/frontend/app/src/screens/HomeScreen.js
  project/frontend/app/src/screens/SearchScreen.js
Labels: medium, development, frontend

#404 add image url fields to event and equipment posts back
  project/backend/app/app/settings.py
  project/backend/app/post/migrations/0001_initial.py
  project/backend/app/post/migrations/0002_initial.py
  project/backend/app/post/models.py
  project/backend/app/post/tests.py
  project/backend/app/post/views.py
  project/backend/app/register/migrations/0001_initial.py
  project/backend/app/requirements.txt
Labels: urgent, development, backend

#396 implements spectate and get spectators functionality
  project/backend/app/post/models.py
  project/backend/app/post/urls.py
  project/backend/app/post/views.py
Labels: medium, development, feature, backend

#409 includes unit tests for delete event post
  project/backend/app/post/tests.py
Labels: medium, testing, backend

#415 Settings
  project/backend/app/app/settings.py
  project/backend/app/post/migrations/0001_initial.py
  project/backend/app/post/migrations/0002_initial.py
  project/backend/app/post/migrations/0003_auto_20211211_1515.py
  project/backend/app/post/models.py
  project/backend/app/register/migrations/0001_initial.py
  project/backend/app/register/urls.py
  project/backend/app/register/views.py
  project/backend/app/requirements.txt
Labels: urgent, backend

#423 Sent images to amazon from backend
  project/backend/app/post/tests.py
  project/backend/app/post/views.py
Labels: urgent, development, backend

#397 feature/terms-and-conditions
  project/frontend/app/src/screens/RegisterScreen.jsx
Labels: feature, frontend

#419 Frontend-Backend Connection
  project/frontend/app/src/httpClient.js
  project/frontend/app/src/services/SportsService.js
Labels: urgent, frontend

#420 Profile Page
  project/frontend/app/src/App.js
  project/frontend/app/src/screens/Profile.css
  project/frontend/app/src/screens/Profile.jsx
  project/frontend/app/src/screens/SearchScreen.js
  project/frontend/app/src/services/UserService.js
Labels: development, frontend

#382 implements the functionality of getting applications
  project/backend/app/post/tests.py
  project/backend/app/post/urls.py
  project/backend/app/post/views.py
Labels: medium, development, feature, backend

#413 Adds test cases for apply and spectate
  project/backend/app/post/models.py
  project/backend/app/post/tests.py
  project/backend/app/post/views.py
Labels: medium, testing, backend

#422 Implements tests for search
  project/backend/app/search/tests.py
  project/backend/app/search/views.py
Labels: medium, testing, backend

#440 fixed some bugs and changed backend ip
  project/frontend/app/src/App.js
  project/frontend/app/src/httpClient.js
  project/frontend/app/src/screens/CreateEventScreen.js
  project/frontend/app/src/screens/EventDetailScreen.js
  project/frontend/app/src/screens/General.css
  project/frontend/app/src/screens/HomeScreen.js
Labels: development, frontend

#445 feature/auth
  project/frontend/app/src/App.js
  project/frontend/app/src/auth/Auth.jsx
  project/frontend/app/src/auth/AuthenticatedRoute.jsx
  project/frontend/app/src/services/AuthService.js
Labels: urgent, development, frontend

#500 Badges and event post analytics
  project/backend/app/post/migrations/0001_initial.py
  project/backend/app/post/migrations/0002_initial.py
  project/backend/app/post/models.py
  project/backend/app/post/urls.py
  project/backend/app/post/views.py
  project/backend/app/register/migrations/0001_initial.py
Labels: urgent, development, backend

#516 Home page functionality, get badges owned by the user functionality and Follow model
  project/backend/app/post/migrations/0001_initial.py
  project/backend/app/post/migrations/0002_initial.py
  project/backend/app/post/tests.py
  project/backend/app/post/views.py
  project/backend/app/register/migrations/0001_initial.py
  project/backend/app/register/models.py
  project/backend/app/register/serializers.py
  project/backend/app/register/tests.py
  project/backend/app/register/urls.py
  project/backend/app/register/views.py
Labels: urgent, backend

#514 Implements activity stream functionality to accept application
  project/backend/app/post/models.py
  project/backend/app/post/serializers.py
  project/backend/app/post/views.py
Labels: enhancement, medium, development, backend

#517 Reject application
  project/backend/app/post/urls.py
  project/backend/app/post/views.py
Labels: enhancement, medium, development, feature, backend

#528 Get comments
  project/backend/app/post/views.py
Labels: enhancement, medium, development, backend

#525 Postpone event
  project/backend/app/post/urls.py
  project/backend/app/post/views.py
Labels: medium, development, feature, backend

#537 Event analytics-home page- badges owned by user tests and user authentication in other functions [backend]
  project/backend/app/post/tests.py
  project/backend/app/post/views.py
  project/backend/app/register/tests.py
  project/backend/app/register/views.py
Labels: medium, testing, backend

#545 Remove badges from events
  project/backend/app/post/migrations/0001_initial.py
  project/backend/app/post/migrations/0002_initial.py
  project/backend/app/post/models.py
  project/backend/app/post/serializers.py
  project/backend/app/post/tests.py
  project/backend/app/post/views.py
  project/backend/app/register/migrations/0001_initial.py
  project/backend/app/search/views.py
Labels: urgent, development, backend

#531 Changing Token Authentication
  project/backend/app/register/urls.py
  project/backend/app/register/views.py
Labels: development, backend

#560 Login enhancement
  project/backend/app/post/serializers.py
  project/backend/app/post/views.py
  project/backend/app/search/views.py
Labels: bug, enhancement, urgent, backend

#563 Added GetEventOfUser and GetEquipmentOfUser Functions
  project/backend/app/post/views.py
Labels: deployment, backend

#571 Login enhancement
  project/backend/app/post/tests.py
  project/backend/app/post/views.py
  project/backend/app/search/tests.py
  project/backend/app/search/views.py
Labels: bug, medium, testing, backend

#574 Added Follow Function
  project/backend/app/post/migrations/0001_initial.py
  project/backend/app/post/migrations/0002_initial.py
  project/backend/app/post/serializers.py
  project/backend/app/post/views.py
  project/backend/app/register/migrations/0001_initial.py
  project/backend/app/register/models.py
  project/backend/app/register/urls.py
  project/backend/app/register/views.py
Labels: deployment, backend

#577 Implementing Get User Profile Feature
  project/backend/app/post/serializers.py
  project/backend/app/post/urls.py
  project/backend/app/post/views.py
  project/backend/app/register/urls.py
  project/backend/app/register/views.py
Labels: deployment, backend

#579 Added send badge and get All Badge Features
  project/backend/app/post/urls.py
  project/backend/app/post/views.py
Labels: deployment, backend
