Repository bounswe/2021SpringGroup5, pull requests merged in 2021-11, with the labels that each got.

#282 Implement Header and Drawer
  project/frontend/app/src/App.css
  project/frontend/app/src/App.js
  project/frontend/app/src/components/Common/Header.js
  project/frontend/app/src/screens/EventScreen.js
  project/frontend/app/src/screens/HomeScreen.js
  project/frontend/app/src/screens/LoginScreen.js
  project/frontend/app/src/screens/RegisterScreen.js
Labels: development

#272 Dockerfile and docker-compose.yml were created
  project/backend/app/.env
  project/backend/app/.gitignore
  project/backend/app/Dockerfile
  project/backend/app/app/settings.py
  project/backend/app/docker-compose.yml
  project/backend/app/requirements.txt
Labels: urgent, development, backend

#283 Feature post
  project/backend/app/app/.env
  project/backend/app/app/settings.py
  project/backend/app/app/urls.py
  project/backend/app/post/__init__.py
  project/backend/app/post/admin.py
  project/backend/app/post/apps.py
  project/backend/app/post/migrations/0001_initial.py
  project/backend/app/post/migrations/__init__.py
  project/backend/app/post/models.py
  project/backend/app/post/serializers.py
  project/backend/app/post/tests.py
  project/backend/app/post/urls.py
  project/backend/app/post/views.py
Labels: urgent, development, backend

#284 Create event equipment post
  project/backend/app/post/migrations/0001_initial.py
  project/backend/app/post/models.py
  project/backend/app/post/serializers.py
  project/backend/app/post/tests.py
  project/backend/app/post/urls.py
  project/backend/app/post/views.py
Labels: urgent, development, backend

#289 Delete equipment post
  project/backend/app/post/tests.py
  project/backend/app/post/urls.py
  project/backend/app/post/views.py
Labels: medium, development, backend

#308 Change event equipment posts
  project/backend/app/app/settings.py
  project/backend/app/post/migrations/0001_initial.py
  project/backend/app/post/models.py
  project/backend/app/post/tests.py
  project/backend/app/post/urls.py
  project/backend/app/post/views.py
Labels: medium, development, backend

#293 Implement Search Screen
  project/frontend/app/package-lock.json
  project/frontend/app/package.json
  project/frontend/app/src/App.js
  project/frontend/app/src/components/Common/Header.js
  project/frontend/app/src/screens/SearchScreen.js
Labels: medium, development, frontend

#311 Feature/register
  .gitignore
  project/frontend/app/.prettierrc.json
  project/frontend/app/package-lock.json
  project/frontend/app/package.json
  project/frontend/app/public/index.html
  project/frontend/app/src/App.js
  project/frontend/app/src/auth/Auth.jsx
  project/frontend/app/src/helpers/functions.js
  project/frontend/app/src/httpClient.js
  project/frontend/app/src/index.css
  project/frontend/app/src/screens/ForgotPasswordScreen.jsx
  project/frontend/app/src/screens/LandingPage.css
  project/frontend/app/src/screens/LoginScreen.js
  project/frontend/app/src/screens/LoginScreen.jsx
  project/frontend/app/src/screens/RegisterScreen.js
  project/frontend/app/src/screens/RegisterScreen.jsx
  project/frontend/app/src/services/AuthService.js
  project/frontend/app/src/services/SportsService.js
Labels: development, feature, frontend

#315 Milestone 1
  project/backend/app/.env
  project/backend/app/app/settings.py
  project/backend/app/app/urls.py
  project/backend/app/docker-compose.yml
  project/backend/app/post/migrations/0001_initial.py
  project/backend/app/post/migrations/0002_initial.py
  project/backend/app/post/models.py
  project/backend/app/post/views.py
  project/backend/app/register/__init__.py
  project/backend/app/register/admin.py
  project/backend/app/register/apps.py
  project/backend/app/register/migrations/0001_initial.py
  project/backend/app/register/migrations/__init__.py
  project/backend/app/register/models.py
  project/backend/app/register/serializers.py
  project/backend/app/register/tests.py
  project/backend/app/register/urls.py
  project/backend/app/register/utils.py
  project/backend/app/register/views.py
Labels: urgent, development, backend
