Repository bounswe/2021SpringGroup5, pull requests merged in 2022-01, with the labels that each got.

#586 Implement Search Screen 2 (Equipment Search UI and functionalities, Missing Fields of Event Search)
  project/frontend/app/package.json
  project/frontend/app/src/__tests__/searchScreen.test.js
  project/frontend/app/src/components/SearchScreen/EquipmentSearch.js
  project/frontend/app/src/components/SearchScreen/EventSearch.js
  project/frontend/app/src/screens/SearchScreen.js
  project/frontend/app/src/services/SearchService.js
Labels: medium, development, frontend

#600 csrf token and Session Id Feature
  project/backend/app/app/settings.py
  project/backend/app/register/views.py
Labels: deployment, backend

#593 feature/comment-section
  project/frontend/app/src/__tests__/commentSection.test.js
  project/frontend/app/src/components/Common/Comment.js
  project/frontend/app/src/components/Common/CommentSection.js
  project/frontend/app/src/screens/CommentSection.css
  project/frontend/app/src/screens/EventDetailScreen.js
  project/frontend/app/src/services/EventService.js
Labels: development, feature, frontend

#595 bugfix/register-page-bugfixes
  project/frontend/app/src/App.js
  project/frontend/app/src/screens/LandingPage.css
  project/frontend/app/src/screens/RegisterScreen.jsx
  project/frontend/app/src/services/AuthService.js
Labels: bug, frontend

#594 feature/participant-listing
  project/frontend/app/src/App.js
  project/frontend/app/src/__tests__/participantsScreen.test.js
  project/frontend/app/src/screens/ParticipanstScreen.css
  project/frontend/app/src/screens/ParticipantsScreen.jsx
Labels: development, feature, frontend

#605 Authentication Changed
  project/backend/app/app/settings.py
  project/backend/app/post/views.py
  project/backend/app/register/views.py
Labels: deployment, backend

#608 Changed Authorization Fields
  project/backend/app/post/views.py
  project/backend/app/register/views.py
Labels: development, backend

#606 hompage implementation
  project/frontend/app/src/App.js
  project/frontend/app/src/screens/Home.css
  project/frontend/app/src/screens/HomeScreen.js
Labels: development, frontend

#610 Home Screen: Implement Previous event functionalities and UI
  project/frontend/app/src/screens/HomeScreen.js
  project/frontend/app/src/services/HomeService.js
Labels: medium, development, frontend

#619 Changed output of Get Profile Function
  project/backend/app/register/views.py
Labels: urgent, deployment, backend

#622 Write tests for Search screen (Map and Date funcs)
  project/frontend/app/src/__tests__/createEventScreenMap.test.js
  project/frontend/app/src/__tests__/equipmentSearchScreen.test.js
  project/frontend/app/src/screens/CreateEventScreen.js
Labels: medium, testing, frontend

#621 Deleted remaining login_required and changed response status code
  project/backend/app/post/views.py
  project/backend/app/register/views.py
  project/backend/app/search/views.py
Labels: development, backend

#623 Fixed login and other request headers
  project/android/app/lib/screens/create_event/create_event_screen.dart
  project/android/app/lib/screens/login/components/body.dart
  project/android/app/lib/screens/main_events/main_event_screen.dart
  project/android/app/lib/screens/user_profile/components/body.dart
Labels: development, android

#628 Changed Response of Follow Function
  project/backend/app/post/views.py
  project/backend/app/register/views.py
Labels: bug, backend

#630 Added Unfollow Feature
  project/backend/app/register/urls.py
  project/backend/app/register/views.py
Labels: development, deployment, android

#632 Android profile page connect to backend
  project/android/app/assets/images/badge_icon.png
  project/android/app/lib/components/popup_card_effect.dart
  project/android/app/lib/screens/event_page/popup_event_details.dart
  project/android/app/lib/screens/main_events/main_event_screen.dart
  project/android/app/lib/screens/popup_send_badge/popup_send_badge.dart
  project/android/app/lib/screens/user_profile/components/body.dart
Labels: development, android

#635 feature/services-fixes
  project/frontend/app/package-lock.json
  project/frontend/app/package.json
  project/frontend/app/src/__tests__/profile.test.js
  project/frontend/app/src/httpClient.js
  project/frontend/app/src/screens/EventDetailScreen.js
  project/frontend/app/src/screens/ParticipantsScreen.jsx
  project/frontend/app/src/screens/Profile.css
  project/frontend/app/src/screens/Profile.jsx
  project/frontend/app/src/services/AuthService.js
  project/frontend/app/src/services/EventService.js
  project/frontend/app/src/services/UserService.js
Labels: development, frontend

#625 Home screen 2 and Logout functionality and Unit Tests
  project/frontend/app/src/__tests__/homeScreen.test.js
  project/frontend/app/src/components/Common/Header.js
  project/frontend/app/src/screens/HomeScreen.js
  project/frontend/app/src/services/AuthService.js
Labels: medium, development, frontend

#639 Implement Send badge functionality and Unit Tests
  project/frontend/app/src/__tests__/sendBadge.test.js
  project/frontend/app/src/components/Common/Badge.js
  project/frontend/app/src/screens/EventDetailScreen.js
  project/frontend/app/src/screens/ParticipantsScreen.jsx
  project/frontend/app/src/services/BadgeService.js
Labels: medium, development, frontend

#643 mixed page, feature, bugs
  project/frontend/app/src/App.js
  project/frontend/app/src/__tests__/applyEvent.test.js
  project/frontend/app/src/__tests__/equipmentDetail.test.js
  project/frontend/app/src/components/SearchScreen/EquipmentSearch.js
  project/frontend/app/src/screens/ApplyScreen.js
  project/frontend/app/src/screens/CreateEquipmentScreen.js
  project/frontend/app/src/screens/CreateEventScreen.js
  project/frontend/app/src/screens/EquipmentDetailScreen.js
  project/frontend/app/src/screens/EventDetailScreen.js
  project/frontend/app/src/services/EventService.js
Labels: bug, urgent, development, feature, frontend

#648 feature/final-fixes
  project/frontend/app/src/screens/Profile.jsx
Labels: urgent, frontend

#651 feature/final-fixes
  project/frontend/app/src/components/Common/CommentSection.js
  project/frontend/app/src/screens/EquipmentDetailScreen.js
Labels: urgent, frontend

#653 Bug on Logout
  project/frontend/app/src/auth/Auth.jsx
  project/frontend/app/src/components/Common/Header.js
  project/frontend/app/src/services/AuthService.js
Labels: urgent, frontend

#655 feature/final-fixes
  project/frontend/app/src/components/Common/CommentSection.js
Labels: bug, urgent, frontend
